%text-decoration {
  font-weight: 700;
  text-transform: uppercase;
}

.heading-1 {
  color: $color-black;
  font-size: 6.7rem;
  @extend %text-decoration;
}


.heading-2 {
  color: $color-black;
  font-size: 4.2rem;
  @extend %text-decoration;
}

.heading-3 {
  color: #a2a2a2;
  font-size: 4.2rem;
  letter-spacing: -3.33px;
  margin-top: 1.5rem;
  @extend %text-decoration;

  @media (max-width:900px) {
    letter-spacing: 0;
  }
}

.white {
  color: #FFF;
  text-align: center;
}

