#organization {
  margin-top: 10rem;
  min-height: 35rem;
  background: url(../img/bg-2.jpg) center center/cover no-repeat;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    display: block;
    max-width: 50rem;
    margin-top: 3rem;
    font-size: 2.1rem;

    @media (max-width:900px) {
      font-size: 1.6rem;
    }
  }
}